.container {
  max-width: 500px;
  margin-inline: auto;
  font-family: sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: gray;
  margin: 2rem 0;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: #181818;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
